.workout {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.workout-exercises {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.workout-exercise {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.workout-exercise-reverse {
    flex-direction: row-reverse;
}

.workout-exercise-image img {
    max-width: 100%;
    height: auto;
    min-width: 250px;
}

.workout-exercise-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    margin-left: 20px;
}

.workout-exercise-reverse .workout-exercise-details {
    text-align: right;
    align-items: flex-end;
    margin-left: 0;
    margin-right: 20px;
}

.workout-exercise-details h2 {
    font-size: 50px;
    font-weight: 900;
    color: #565555;
}

.workout-exercise-details span {
    font-size: 20px;
    font-weight: 300;
    color: white;
    background-color: #50c878;
    padding: 5px 20px;
    border-radius: 35px;
    width: fit-content;
}

.workout-exercise-details p {
    font-size: 20px;
    font-weight: 300;
    color: #565555;
}

.workout-exercise h3 {
    -webkit-text-stroke: 1px #50c878;
    color: transparent;
    font-size: 8rem;
    text-align: center;
    width: 15rem;
    aspect-ratio: 1/1;
    border: 1px solid #50c878;
    border-radius: 50%;
}